.App {
  /* text-align: center; */
  background-color: rebeccapurple;
}
body{
  /* background-color: rgb(204, 255, 255); */
  background-color: darkred ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#InputName {
  width: 15rem;
  height: 45px;
  display: flex;
}

#InputEmail {
  width: 15rem;
  height: 45px;
  display: flex;
}

#InputAddress {
  width: 15rem;
  height: 45px;
  display: flex;
}

.form {
  /* background-color: #dcdcdc; */
  background-color: darkcyan;
  width: 20rem;
  /* height: 30rem; */
  padding-left: 2rem;
  display: inline-block;
  vertical-align: middle;
  border: 5px solid black ;
  margin: 1rem;
  padding: 2rem 2rem;
  /* text-align: center; */
  /* display: inline-block; */
  margin-left: 10rem;
  position: absolute;
}

.btn {
  border: 5px solid white;
  font-weight: 800;
  background-color: #282c34;
  border-radius: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  width: 10rem;
  height: 55px;
  margin-top: 1rem;
  margin-left: 1rem;
}
.btn:hover {
  background-color: white;
  color: black;
  border: 5px solid black;
  font-weight: 800;
}
#output {
  height: 10rem;
  width: 20rem;
  background-color: #dcdcdc;
}
.Display-Users {
  width: 22rem;
  /* height: 10rem; */
  /* background-color: #dcdcdc; */
  background-color: darkcyan;
  text-align: center;
  /* margin-left: 29rem; */
  display: inline-block;
  border: 5px solid black;
  padding: 2rem 2rem;
  margin: 2rem;
  margin-left: 63rem;
  /* margin-bottom: 5rem; */
  /* padding: 2rem; */
  /* padding: 1rem 1rem; */
  /* vertical-align: left; */
  position: absolute;
}
.Display-Users li{
  list-style-type: none;
  text-align: center;
  /* text-decoration: dotted; */
  font-weight: 600;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  font-display: auto;
  text-align: center;
  align-items: center;
  /* text-decoration: underline; */
  display: flex;
  /* text-decoration: underline; */
  background-color: white;
}
